  <hr>
<footer class="site-footer row justify-content-around">
  <ul class="footer-branch col-sm-6 col-md-4 col-xl-3 p-2 m-1">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
  </ul>
  <ul class="footer-branch col-sm-6 col-md-4 col-xl-3 p-2 m-1">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
  </ul>
  <ul class="footer-branch col-sm-6 col-md-4 col-xl-3 p-2 m-1">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
  </ul>
</footer>

<style media="screen">
  .site-footer {
    background: black;
    min-height: 200px;
    width: auto;
    border: 5px double gray;
  }
  .footer-branch {
    border: 2px double teal;
    font-family: 1.2rem;
    font-family: 'Raleway';
    display: flex;
    justify-content: space-around;
  }
</style>
