# Ignore all modules, any acquisitor of the repository should use "npm install" after pulling retrieve theme
node_modules

# Ignore environment variables, this file is only used for development
.env

# Backup of old master repo
master

# Secondary local git repo for Vigil project
vigilu-old
