<!DOCTYPE html>
<html lang="en">
<head>


<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="C:/WebDevelopment/Pictures">


    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top align-items-end">
    <a class="navbar-brand" href="/"><img src="Protect Logo.png" alt="" width=80 height=80 id="navlogo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbutton">
      <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse align-items-end" id="navbutton">
      <ul class="navbar-nav align-items-end" id="navcontent">

        <!-- Search Tab -->
        <li class="nav-item p-1">
          <form class="form-inline my-2 my-lg-0 d-flex justify-content-center">
            <input class="form-control mr-sm-2" id="searchBar" type="search" placeholder="Search" aria-label="Search">
            <button id="searchButton" class="btn btn-outline-success p-3 my-sm-0" type="submit">Search</button>
          </form>

            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Find By</a>
              <div class="dropdown-menu" id="findBy">

              </div>

        </li>

        <!-- New Items -->
        <li class="nav-item dropdown p-1">       
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">New</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/station/new">Station</a>
            <a class="dropdown-item" href="/register/user">User Profile</a>
            <form action="/register/admin" method="GET">
              <input type="text" name="codeQuery" class="hide" id="codeQuery">
              <button id="createAdmin">Administrator</button>
            </form>
            <!-- <a class="dropdown-item" href="/register/admin">Administrator</a> -->
            <a class="dropdown-item" href="/article/new">Article</a>
          </div>
        </li>
        <!-- <END OF> New Items >-->

        <!-- Seed Database-->
        <li class="nav-item p-1">          
          <a class="nav-link" data-toggle="dropdown" href="/seed">Seed Database</a>
          <form id="query" method="GET" class="form-inline hide" action="/seed">
            <input type="text" name="seed" class="hide">
          </form>
        </li>
        <!-- <END OF> Seed Database-->

        <!-- Link requires input, takes information as a "query" -->   
        <li class="nav-item p-1">       
        <a class="nav-link" data-toggle="dropdown" href="/clear">Clear Database</a>
          <form id="clear" method="GET" class="form-inline hide" action="/clear">
            <input type="text" name="clear" class="hide">  
          </form>
        </li>
        <!-- <END OF> Clear Database-->  

      <!-- User Listing Dropdown: USERS collection is available in database, iterates through all Users and displays name and profile picture, with link to their page -->

  </nav>

  <!-- The body is dynamic: It's the HTML/CSS of whatever page the user is browsing -->
<%- include('../partials/flash') %>  
<%- body  %> 

<!-- Latest compiled JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

<!-- In-House Javascript -->
<script>
  
  const currentURL = this.location.pathname;  
  const searchBar = document.querySelector('#searchBar');
  const searchButton = document.querySelector('#searchButton');
  const query = document.querySelector('#query');
  const clear = document.querySelector('#clear');
  const navlinks = document.querySelector('.navbar-nav', 'a');
  const createAdmin = document.querySelector('#createAdmin');
  const codeQuery = document.querySelector('#codeQuery');

  if(!currentURL.includes('/blogs') && currentURL !== "/"){
  searchButton.disabled = true;
  searchBar.disabled = true;
  console.log("No searching here");
}

  navlinks.addEventListener('click', function (e) {
    
    if(e.target.innerText === 'Clear Database' || 'Seed Database');
    {

      if(e.target.href === query.action){
        query[0].name = 'seed';
        query[0].value = prompt('To SEED the database: What is the codeword?');

        query.submit();
      }
      if(e.target.href === clear.action){
        query[0].name = 'clear';
        query[0].value = prompt('To CLEAR the database: What is the codeword?');
        query.action = '/clear';

        query.submit();
      }
    }
});

createAdmin.addEventListener('click', (e) =>{
  const code = prompt("Who's the boss of everybody?");

  if(code !== 'You are Elliot'){
    alert('Say it again. Louder.');
    event.preventDefault();
    event.stopPropagation();
  } else {
    codeQuery.value = code;     
  }
})
</script>
<!-- <END OF> In-House Javascript -->

<!-- Bootstrap/General CSS -->
<style>
.hide{
    display:none;
  }
.navbar{
    transition: 800ms;
    background: rgba(0, 10, 0, 0.9);
    box-shadow: 2px 3px 10px green;
}
.navbar-brand{
  font-size: 1.4rem;
}
#userInfo :hover{
  transition: 400ms;
    
  color:#258e25;
  background: rgba(0, 40, 0, 0.8);
  box-shadow: 2px 3px 5px black;   

  font-size: 1.4rem;
}
.nav-item
{
  color:#258e25;
  border-radius: 10px;
  box-shadow: 2px 3px 10px black;    

  font-size: 1.3rem;
}
.navbar .nav-item .nav-link{
  transition: 500ms;   
  display: inline;
  font-size: 1.2rem;
  color: azure;
  } .navbar .nav-item .nav-link:hover {
    transition: 500ms;
    transform: scale(1.2);
    
    color:#258e25;
    font-size: 1.4rem;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 3px 5px black;   
}
  
</style>
  <!-- <END OF> Bootstrap/General CSS -->

</html>