<%- layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/home.css">

<header class="header row">
  <div class="entry-info p-4 m-1">
    <div class="header-text p-2">
      <div class="d-table m-auto">
        <img src="/Protect Logo.png" class="img-fluid">
        <img src="/Vigil Title 2.png" class="img-fluid">
      </div>

      <p>VIGIL is a platform for any and all users to survey regional "Stations" (such as common free market businesses, corporate facilities, schools, governmental institutions, etc.) and provide extensive details of their operations, political affiliations/business partners, and obviously the general quality of the services.</p>
      <p>All informational submissions are subject to review by OTHER users, and all viewers should cross-reference sources before making decisions based on submitted data. Don't be bias or skew information when submitting.</p>
      <p>We do not allow inappropriate imagery, comment spamming, or linking to insecure websites within articles. Otherwise, we do not regulate any informational content or censor opinions of users. It is up to you and all other viewers to compare sources/research when posting or viewing stations, articles, and links.</p>
      <p>Create a user profile to contribute content. You may view other users' contributions regardless</p>
      <hr>
      <div class="form-group d-flex justify-content-center">
        <div class="style-block block-left" style="opacity:0.2"></div>
        <div class="style-block block-left" style="opacity:0.5"></div>
        <div class="style-block block-left" style="opacity:0.8"></div>
        <div class="style-block block-left"></div>
        <button type="button" name="button" class="btn btn-info btn-lg register-btn x-margin"><a href="/register" class="text-light">Register</a></button>
        <div class="style-block block-right"></div>
        <div class="style-block block-right" style="opacity:0.8"></div>
        <div class="style-block block-right" style="opacity:0.5"></div>
        <div class="style-block block-right" style="opacity:0.2"></div>
      </div>
    </div>
  </div>
<hr>
  <section class="header-map row d-flex">
    <div id="map" class="col-sm-12 col-md-6"></div>
    <div class="col-sm-12 col-md-6 row p-3">
      <h1 class="p-3">World Map</h1><hr>
      <div class="p-3"><p class="align-self-end">Use the map for locating specific regional sites/stations posted by you or other users. Stations highlighted in yellow/orange are either "fresh" newly posted stations in need of more informational contribution, or have information which is contested by another user article<br></p>
     </div>
    </div>
  </section>
<hr>
  <section class="header-posts row d-flex">
    <div class="col-sm-12 col-md-6 row p-3">
      <h1 class="p-3">Posts and Articles</h1><hr>
      <div class="p-3"><p>Compare research with other users by posting articles, reviews and images along with stations so viewers can equip themselves with adequate information before making decisions of whether to use/associate themselves with given services.</p>
     </div>
    </div>
  </section>

</header>
<hr>
<main>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <div class="container">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</main>
<section>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</section>

<script src="/home.js"></script>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

<script src="https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css" rel="stylesheet" />
<script type="text/javascript">
  // Mapbox
  const stationsForMap = {features: <%-JSON.stringify(stations)%>};
  //styles/mapbox/outdoors-v11
  //styles/mapbox/light-v10
  //styles/mapbox/dark-v10
  //styles/mapbox/satellite-v9
  //styles/mapbox/satellite-streets-v11
  //styles/mapbox/navigation-day-v1
  //styles/mapbox/navigation-night-v1
    mapboxgl.accessToken = '<%-process.env.MAPBOX_TOKEN%>';
    const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/dark-v10',
    center: [-103.59179687498357, 40.66995747013945],
    zoom: 3
  });
</script>
<script src="/mapbox.js"></script>
