html, body {
  background: black;
  width: 100vw;
  font-family: Helvetica,Arial,sans-serif;
} body {
  background: url('/Hologlobe.jpg');
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}
body a {
  color: lightseagreen;
}
header {
  background: rgba(0,0,0,0.7);
  min-height: 600px;
}
.outliner {
  padding: 2%;
  border-radius: 15px;
  margin: 0px;
  overflow-x: hidden;
}
.outliner-1 { background: rgba(30,30,30,0.1); }
.outliner-2 { background: rgba(30,30,30,0.2); }
.outliner-3 { background: rgba(30,30,30,0.3); }
.outliner-4 { background: rgba(30,30,30,0.4); }
.outliner-5 { background: rgba(30,30,30,0.5); }
.outliner-6 { background: rgba(30,30,30,0.6); }
.outliner-7 { background: rgba(30,30,30,0.7); }
.outliner-8 { background: rgba(30,30,30,0.8); }
.outliner-9 { background: rgba(30,30,30,0.9); }
section {
  color: gainsboro;
  box-shadow: 2px 1px 50px 5px black;
  padding: 3%;
  background: rgb(30,30,30);
  width: 99%;
  border-radius: 20px;
  border: 4px double black;
  margin: 1px !important;
  transition: all 0.7s;
  transform: translateX(100%);
}
.header-logo {
  max-height: 150px !important;
  max-width: 150px !important;
  margin: auto;
}
.header-text {
  max-width: 650px;
  width: 100%;
  margin: auto;
  font-family: monospace;
  font-size: 1.1rem;
  color: lightblue;
  border-radius: 15px;
} .register-btn {
  transition: all 0.7s;
} .register-btn:hover {
  padding: 1% 3% 1% 3%;
  box-shadow: 1px 1px 10px 3px turquoise;
  transition: all 0.7s;
  margin: 0% 35% 0% 35%;
} .style-block {
  transition: all 1s;
  min-width: 30px;
  height: auto;
  background-color: teal;
  border-radius: 5px;
  margin: 1px;
}
#map { border-radius: 50%; }
#map:hover { border: 3px double teal; }
 .posts-section > div {
  width: 100%;
}
.examp-img {
  width: 350px;
  max-width: 250px;
  max-height: 300px;
  filter: drop-shadow(2px 1px 10px teal);
}


@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-193px * 14))}
  /* Assuming we're in the negative. Higher pixels the element scrolls further before resetting, less means reset sooner */
}
.sponsor-header {
  color: gray;
  font-family: 'Montserrat';
  text-align: center;
}
.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 150px;
  margin: auto;
  overflow:hidden;
  position: relative;
  width: 100%;
  border-top: 3px double darkslategray;
  border-bottom: 3px double darkslategray;
  font-family: 'Raleway';
  font-variant: small-caps;
}
.slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  align-items: center;
  min-height: 100%;
}

.slide-track div {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 80px;
  min-width: 300px;
  color: lightblue;
  text-align: center;
} .slide-track img {
  width: 60px;
  height: 60px;
  align-self: center;
  border-radius: 50%;
}
.wtf-modal {
  color: lightblue;
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 20%;
} .modal-text {
  border: 2px double gray;
  font-size: 1.1rem;
  padding: 3%;
}
